<body>
  <md-toolbar class="toolbar">

    <!--              COMEÇO TOOLBAR             -->
    <table td-table>
      <tr td-table-row>
        <button mdTooltip="Home" routerLink="" md-button class="button"><md-icon class="icon">home</md-icon></button>
        <button mdTooltip="Usuários" routerLink="usuarios" md-button class="button"><md-icon class="icon">person</md-icon></button>
        <button mdTooltip="Departamentos" routerLink="departamentos" md-button class="button"><md-icon class="icon">people</md-icon></button>
        <button mdTooltip="Mensagens" routerLink="mensagens" md-button class="button"><md-icon class="icon">mail</md-icon></button>
      </tr>
      <!--                SAIR              -->
    </table>
    <span class="spacer"></span>
    <table td-table>
      <tr td-table-row>
        <a mdTooltip="Logout" href="/projeto/logout" md-button class="button">
          <md-icon class="icon">exit_to_app</md-icon>
        </a>
      </tr>
    </table>
  </md-toolbar>
  <!--              FIM TOOLBAR             -->

  <router-outlet></router-outlet>


</body>
