.card
{
  width: 80%;
  left:8%;
  margin-top:5%;
}
.subcard
{
  width: 50%;
  left:20%;
  margin-top:3%;
  margin-bottom:3%;
}
.input-form
{
  margin-left:7%;
  width: 70%;
  margin-right:7%;
  margin-bottom:3%;
}
p
{
  word-wrap: break-word;
}
